<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>

      <!--FORM IS HERE LOOKEE-->
      <% if (!user) {%>
        <!--NEED TO FIX THE REGISTER BUTTON-->
        <div style="position: absolute; right: 0px; width: 100px; margin-top: 0px;">
          <a href="/register">
            <button class="btn btn-outline-dark">Register</button>
          </a>
        </div>
        <!-- <form class="form-inline" action="/register" method="POST">
            <div class="form-group mb-2">
              <input class="form-control" type="text" name="username" placeholder="Username"
                style="width: 200px; margin: 0.5em" />
              <button type="submit" class="btn btn-outline-dark">Register</button>
            </div>
          </form> -->
        <% } else { %>
          <div style="position: absolute; right: 5px; margin-top: 5px;">
            <form class="form-inline" action="/logout" method="POST">
              <div class="form-group mb-2">
                <p style="width: 200px; margin: 0.5em; text-align: right;">Logged in as: <b>
                    <%= user.email %>
                  </b></p>
                <button type="submit" class="btn btn-outline-dark">Logout</button>
              </div>
            </form>
          </div>
          <% } %>
    </div>

    </div>
  </nav>
</header>